/* Google Font Link */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.sidebar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #11101d;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open {
  width: 250px;
}
.sidebar .logo-details {
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon {
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name {
  opacity: 1;
}
.sidebar .logo-details #btn {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn {
  text-align: right;
}
.sidebar i {
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list {
  margin-top: 20px;
  height: 100%;
}
.sidebar li {
  position: relative;
  margin: 8px 0;
  list-style: none;
}
.sidebar li .tooltip {
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .tooltip {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .tooltip {
  display: none;
}
.sidebar input {
  font-size: 15px;
  color: #fff;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input {
  padding: 0 20px 0 50px;
  width: 100%;
}
.sidebar .bx-search {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  font-size: 22px;
  background: #1d1b31;
  color: #fff;
}
.sidebar.open .bx-search:hover {
  background: #1d1b31;
  color: #fff;
}
.sidebar .bx-search:hover {
  background: #fff;
  color: #11101d;
}
.sidebar li a {
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101d;
}
.sidebar li a:hover {
  background: #fff;
}
.sidebar li a .links_name {
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name {
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i {
  transition: all 0.5s ease;
  color: #11101d;
}
.sidebar li i {
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile {
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile {
  width: 250px;
}
.sidebar li .profile-details {
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img {
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job {
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job {
  font-size: 12px;
}
.sidebar .profile #log_out {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out {
  width: 50px;
  background: none;
}
.home-section {
  position: relative;
  background: #e4e9f7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section {
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text {
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px;
}
@media (max-width: 420px) {
  .sidebar li .tooltip {
    display: none;
  }
}
.title-button-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.blue-button {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
    justify-content: left;
}

.tile {
    position: relative;
    width: 200px;
    height: 300px;
    background-color: gray;
    border-radius: 17px;
    overflow: hidden;
    transition: transform 0.3s;
}

.tile:hover {
    opacity: 1;  
    transform: scale(1.05);
}

.tile img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.tile p {
    text-align: center;
    margin-top: 20px;
    padding: 0px 0;
}

.tile h3 {
    text-align: center;
    margin: 5px;
    padding: 5px 0;
    height: 30px;
}

.tile h4 {
    text-align: center;
    margin: 5px;
    padding: 3px 0;
    height: 30px;
}

.tile-txt {
    text-align: center;
    margin: 0px;
    padding: 0px 0;
    height:30%;
}

.tile-title {
    text-align: center;
    margin: 5px;
    padding: 0px;
    height:20%;
}

.title-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#mainBtn {
    background-color: blue;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 20px;
    margin-top: 20px;
    justify-content: left;
}

.tile {
    width: 200px;
    height: 300px;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s;
}

.tile:hover {
    transform: scale(1.03);
}

.tile img {
    width: 200px;
    height: 100px;
    object-fit: cover;
}

.sims-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.preview-container {
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
    width: 100%;
    height: 1000px;
}

.preview-window {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 50px;
    margin-top: 50px;
    justify-content: space-between;
    background-color: #ffffff;
    align-items: center;
}

.tile:hover .overlay {
    display: flex;
}


.overlays {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);  /* Optional: semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;  /* Initially hidden */
    transition: opacity 0.3s;  /* Smooth transition */
}

.overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* height of the image */
    background-color: rgba(0, 0, 0, 0.5); /* semi-transparent black */
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.overlay button {
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    background-color: white;
    color: black;
    border-radius: 5px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);
      border-radius: 5px;
      box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
      z-index: 10;
    
}

.new_modal {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 70%;
  background-color: white;
  padding: 6rem;
  border-radius: 5px;
  
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
  z-index: 10;
}

.modal-content {
    position: relative;
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 800px;
    border-radius: 5px;
          box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
          z-index: 10;
    /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);*/
}

.modal-content span {
    position: absolute;
    top: 0;
    right: 10px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close-modal {
  position: absolute;
  top: 1.2rem;
  right: 2rem;
  font-size: 5rem;
  color: #333;
  cursor: pointer;
  border: none;
  background: none;
}

.modal-content span:hover {
    color: #000;
}

.modal-header {
    background-color: #333; /* Dark background */
    color: #fff;
    width: 100%;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-modal {
    font-size: 24px;
    cursor: pointer;
    background: none;
    border: none;
    color: #fff;
    padding: 0;
    margin: 0;
}

.modal-body label {
    display: block;
    margin-top: 15px;
}

.helper-text {
    font-size: 0.9em;
    color: #777;
    margin-top: 5px;
}

.modale:before {
  content: "";
  display: none;
  background: rgba(0, 0, 0, 0.6);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap; /* Ensures columns are side-by-side */
}

.column {
    flex: 0 0 50%; /* This makes each column take up 50% of the parent container's width */
    padding: 15px; /* Adds some padding for better appearance */
}

/* Style for the HTML code textarea to make it occupy full height of its container */
textarea[name="htmlCode"] {
    width: 100%;
    height: 60%;
    box-sizing: border-box;
}

#or {
  position: relative;
  width: 300px;
  height: 50px;
  
  line-height: 50px;
  text-align: center;
}

#or::before,
#or::after {
  position: absolute;
  width: 130px;
  height: 1px;
  
  top: 24px;
  
  background-color: #aaa;
  
  content: '';
}

#or::before {
  left: 0;
}

#or::after {
  right: 0;
}

/* Styling for all tags */

.tags-container {
    position: absolute;
    bottom: 5px; /* 5px from the bottom of the tile */
    left: 0;
    right: 0;
    text-align: center; /* To center-align the tags */
}

/* Styling for all tags */
.tag {
    display: inline-block; /* To allow tags to be side by side */
    margin: 0 5px; /* Space between tags */
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 12px;
    color: #fff;
}

/* Specific colors for each type of tag, as provided earlier */
.tag.Game {
    background-color: #E57373; 
}

.tag.Experiment {
    background-color: #81C784; /* Green */
}

.tag.Simulation {
    background-color: #64B5F6; /* Blue */
}

.tag.Activity {
    background-color: #FFD54F; /* Yellow */
}